In [3]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [11]:
# pd.read_csv('green_tripdata_2019-09.csv.gz', compression='gzip')

In [19]:
dtypes = {
    'VendorID': 'Int64', 
    'lpep_pickup_datetime': 'object', 
    'lpep_dropoff_datetime': 'object',
    'store_and_fwd_flag': 'object',
    'RatecodeID': 'float64',
    'PULocationID': 'int64',
    'DOLocationID': 'int64',
    'passenger_count': 'Int64',
    'trip_distance': 'float64',
    'fare_amount': 'float64',
    'extra': 'float64',
    'mta_tax': 'float64',
    'tip_amount': 'float64',
    'tolls_amount': 'float64',
    'ehail_fee': 'float64',
    'improvement_surcharge': 'float64',
    'total_amount': 'float64',
    'payment_type': 'Int64',
    'trip_type': 'Int64',
    'congestion_surcharge': 'float64',
    'tolls_amount': 'float64',
}

In [20]:
df = pd.read_csv('green_tripdata_2019-09.csv.gz', compression='gzip', dtype=dtypes, parse_dates=['lpep_pickup_datetime', 'lpep_dropoff_datetime'])
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5,2.00,10.50,0.50,0.5,2.36,0.00,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5,3.20,12.00,0.50,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5,2.99,12.00,0.50,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1,1.73,7.50,0.50,0.5,1.50,0.00,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1,3.42,14.00,0.50,0.5,3.06,0.00,NaN,0.3,18.36,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449058,<NA>,2019-09-30 23:13:00,2019-09-30 23:41:00,NaN,NaN,66,71,<NA>,7.84,43.25,2.75,0.5,0.00,0.00,NaN,0.0,46.50,<NA>,<NA>,NaN
449059,<NA>,2019-09-30 23:26:00,2019-09-30 23:46:00,NaN,NaN,55,26,<NA>,3.56,25.75,2.75,0.5,0.00,0.00,NaN,0.0,29.00,<NA>,<NA>,NaN
449060,<NA>,2019-09-30 23:15:00,2019-09-30 23:43:00,NaN,NaN,139,78,<NA>,18.47,50.47,2.75,0.5,0.00,6.12,NaN,0.0,59.84,<NA>,<NA>,NaN
449061,<NA>,2019-09-30 23:19:00,2019-10-01 00:06:00,NaN,NaN,242,188,<NA>,20.10,58.22,2.75,0.5,0.00,6.12,NaN,0.0,67.59,<NA>,<NA>,NaN
449062,<NA>,2019-09-30 23:35:00,2019-09-30 23:58:00,NaN,NaN,155,189,<NA>,5.87,26.07,2.75,0.5,0.00,0.00,NaN,0.0,29.32,<NA>,<NA>,NaN

In [9]:
# database engine for connections
engine = create_engine('postgresql://root:root@localhost:5432/taxi_db')

In [10]:
engine.connect()

In [11]:
print(pd.io.sql.get_schema(df, name='green_trips_data', con=engine))

CREATE TABLE green_trips_data (
	"VendorID" TEXT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count TEXT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee TEXT,
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type TEXT,
	trip_type TEXT,
	congestion_surcharge TEXT
)

In [16]:
# read in chunks of rows with an iterator
df_iter = pd.read_csv(
    'green_tripdata_2019-09.csv.gz', 
    compression='gzip', 
    dtype=dtypes, 
    parse_dates=['lpep_pickup_datetime', 'lpep_dropoff_datetime'], 
    iterator=True, 
    chunksize=75000
)
df = next(df_iter)

In [13]:
# instead of running this line you can execute DROP TABLE green_trips_data on pgadmin
df.head(n=0).to_sql(name='green_trips_data', con=engine, if_exists='replace')

0

In [ ]:
###
# Load the Trips Data
###

In [17]:
# This may succeed loading the data by will throw an error because the chunc size is not a multiple of the data size
while True:
    t_start = time()
    
    df = next(df_iter)
    df.to_sql(name='green_trips_data', con=engine, if_exists='append')

    t_end = time()

    print(f'Inserted a chunk of data... {len(df)} rows %.3f' % (t_end - t_start))

Inserted a chunk of data... 75000 rows 7.583
Inserted a chunk of data... 75000 rows 7.348
Inserted a chunk of data... 75000 rows 7.576
Inserted a chunk of data... 75000 rows 7.565
Inserted a chunk of data... 74063 rows 7.000

StopIteration:

In [21]:
###
# Load the Zones Data
###

In [18]:
# read in chunks of rows with an iterator
df_iter_zone = pd.read_csv(
    'taxi+_zone_lookup.csv',
    iterator=True, 
    chunksize=75000
)
# Load the zones
while True:
    t_start = time()
    
    df_zone = next(df_iter_zone)
    df_zone.to_sql(name='green_zones_data', con=engine, if_exists='append')
    
    t_end = time()

    print(f'Inserted a chunk of data... {len(df_zone)} rows %.3f' % (t_end - t_start))

Inserted a chunk of data... 265 rows 0.025

StopIteration: